{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}

{% block body %}
<div class="contanier-fluid ">
      <h1 class="  mb-2 p-5 text-center bg-gradient text-capitalize text-light"> hello, guys!</h1>
      <div class="container-fluid mt-1">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <div class="col ">
                        <div class="card shadow-lg bg-dark bg-gradient text-light">
                              <img src="https://source.unsplash.com/1080x630/?rain,night" alt="Chicago" class="d-block"
                                    style="width: 100%;">
                              <div class="card-body ">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                          lead-in
                                          to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">Edit</button>
                                          </div>
                                          <small class="text-muted">9 mins</small>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="card shadow-sm bg-dark bg-gradient text-light">
                              <img src="https://source.unsplash.com/1080x630/?space,night" alt="Chicago"
                                    class="d-block" style="width: 100%;">

                              <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                          lead-in
                                          to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">Edit</button>
                                          </div>
                                          <small class="text-muted">9 mins</small>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="card shadow-sm bg-dark bg-gradient text-light">
                              <img src="https://source.unsplash.com/1080x630/?sky,night" alt="Chicago" class="d-block"
                                    style="width: 100%;">

                              <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                          lead-in
                                          to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">Edit</button>
                                          </div>
                                          <small class="text-muted">9 mins</small>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="col">
                        <div class="card shadow-sm bg-dark bg-gradient text-light">
                              <img src="https://source.unsplash.com/1080x630/?moon,night" alt="Chicago" class="d-block"
                                    style="width: 100%;">

                              <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                          lead-in
                                          to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">Edit</button>
                                          </div>
                                          <small class="text-muted">9 mins</small>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="card shadow-sm bg-dark bg-gradient text-light">
                              <img src="https://source.unsplash.com/1080x630/?star,night" alt="Chicago" class="d-block"
                                    style="width: 100%;">

                              <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                          lead-in
                                          to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">Edit</button>
                                          </div>
                                          <small class="text-muted">9 mins</small>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="card shadow-sm bg-dark bg-gradient text-light">
                              <img src="https://source.unsplash.com/1080x630/?tree,night" alt="Chicago" class="d-block"
                                    style="width: 100%;">

                              <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                          lead-in
                                          to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button"
                                                      class="btn btn-sm btn-outline-secondary">Edit</button>
                                          </div>
                                          <small class="text-muted">9 mins</small>
                                    </div>
                              </div>
                        </div>
                  </div>


            </div>
      </div>
</div>
{% endblock body %}